body,
html {
    margin: 0;
    padding: 0;
}

.content {
    width: 800px;
    margin: auto;
    background-color: #EFEFEF;
    padding: 10px;
}

.dokument h3 {
    background-color: red;
    text-align: center;
    color: #FFFFFF;
    padding: -1px;
    margin: 5px;
}

meter{
    padding-left: 5px;
}

label {
    min-width: 50px;
    display: inline-block;
    margin-left: 4px;
}

.ok {
    margin: auto;
    display: block;
}

.krok_2,
.krok_3 {
    display: none;
}

.krok_1 .menu {
    width: 115px;
    margin: auto;
}

.krok_2 .menu {
    width: 322px;
    margin: auto;
}

.krok_2 .menu label {
    min-width: 110px;
    display: inline-block;
    margin-left: 4px;
}

.krok_3 .menu {
    width: 347px;
    margin: auto;
}

.nawigacja {
    min-width: 110px;
    max-width: 110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
