.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #333333;
    position: relative;
    top: 7px;
}

.white {
    background-color: #ffffff;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}